html{
    font-size: 10px;
}
body{
    margin: 0;
    background-color: #ccc;
    font-size: 1.2rem;
}
body *, body *::before, body *::after{
    box-sizing: border-box;
}
/* 링크스타일 */
a{
    text-decoration: none;
    color: inherit;
}
.header, .visual, .main, .slogan, .footer-content{
    width: 940px;
    margin: 0 auto;
}
/* 헤더 */
.header{
    background-color: #fff;
    /* border-top: 1px solid transparent; */
    position: relative; 
    padding: 0 30px;
}
/* 로고 */
.logo{
    margin: 0;
    position: absolute; /*가장 가까운 요소에서 position:relative가 오프셋 기준이 됨*/
    top: 45px;
    left: 65px;
    font-size: 100%;
    line-height: 1; 
}
/* 안내링크 */
.member{
    margin: 0;
    list-style: none;
    padding-left: 0;
    text-align: right;
    font-size: 0;
    padding: 5px 0;
    position: relative;
    right: -10px;
    
}
.member li{
    display: inline-block;
    font-size: 1.2rem;
}
/* .member li::before{
    content: ":";
} */
.member a{
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
    
}
.divider{
    padding: 0 3px;
}
.visual{
    background-color: salmon;
    height: 10vh;
}
.main{
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    /* box-sizing: border-box; */
    /* width: 910px; */
    /* height: 60vh; */
    /* border: 10px solid green; */
    /* overflow: hidden; */
    /* float: left; */
}
/*css관점 플로트 해제 방법 2 
가짜로 자식 앞 뒤로 만들 수 있음*/
.group{
    height: 60vh;
}
.group1{
    background-color: violet;
    width: 250px;
    /* float: left; */
}
.group2{
    background-color: aquamarine;
    width: 380px;
    /* float: left; */
    /* order: -1; 마크업한 순서 바꾸고 싶을 때*/
}
.group3{
    background-color: sandybrown;
    width: 190px;
    /* float: left; */
}
/* 마크업관점 플로트 해제 방법 1 
.clearfix{
    clear: both;
} */
.slogan{
    /* clear: both; */
    background-color: green;
    height: 10vh;
}
/* .slogan::before{
    content: "첫번쨰 자식 요소 입니다.";
}
.slogan::after{
    content: "마지막 자식 요소 입니다.";
} */
.footer{
    background-color: silver;
}
.footer-content{
    background-color: pink;
    height: 10vh;
}
