body{
    margin: 0;
    background-color: #ccc;
}
body *, body *::before, body *::after{
    box-sizing: border-box;
}
.header, .visual, .main, .slogan, .footer-content{
    width: 940px;
    margin: 0 auto;
}
/* 헤더 */
.header{
    background-color: #fff;
    border-top: 1px solid transparent;
    position: relative; 
}
/* 로고 */
.logo{
    margin: 0;
    position: absolute; /*가장 가까운 요소에서 position:relative가 오프셋 기준이 됨*/
    top: 45px;
    left: 65px;
    font-size: 100%;
    line-height: 1; 
}
/* 안내링크 */
.member{
    margin: 0;
}
.visual{
    background-color: red;
    height: 10vh;
}
.main{
    background-color: blue;
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: space-between;
    /* box-sizing: border-box; */
    /* width: 910px; */
    /* height: 60vh; */
    /* border: 10px solid green; */
    /* overflow: hidden; */
    /* float: left; */
}
/*css관점 플로트 해제 방법 2 
가짜로 자식 앞 뒤로 만들 수 있음*/
.group{
    height: 60vh;
}
.group1{
    background-color: violet;
    width: 250px;
}
.group2{
    background-color: aquamarine;
    width: 380px;
    /* order: -1; 마크업한 순서 바꾸고 싶을 때*/
}
.group3{
    background-color: sandybrown;
    width: 190px;
}
/* 마크업관점 플로트 해제 방법 1 
.clearfix{
    clear: both;
} */
.slogan{
    /* clear: both; */
    height: 10vh;
    background-color: green;
}
/* .slogan::before{
    content: "첫번쨰 자식 요소 입니다.";
}
.slogan::after{
    content: "마지막 자식 요소 입니다.";
} */
.footer{
    background-color: grey;
}
.footer-content{
    background-color: salmon;
    height: 10vh;
}
